<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
   <link rel="stylesheet" href="/styleindex.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>VidaVet - Veterinaria profesional</title>
</head>
<body>
    <div class="cprincipal">
        <nav class="sidebar">

            <h2>Panel principal</h2>
            <img src="/logoempresa.png" alt="Logo de empresa">
            <ul>
                <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/venta">Ventas</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/proveedores">Proveedores</a></li>
            </ul>
            

        </nav>


        
        
        <main class="contenido">
            <div class="clientes-container">

                <div class="header-clientes">
                    <h2>Gestión de Clientes</h2>
                    <input type="text" id="buscador" placeholder="Buscar cliente...">
                </div>

                <div class="tabla-contenedor">
                    <table id="tablaClientes">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Email</th>
                               <th>Dirección</th> 
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

   
            <link rel="stylesheet" href="clientes.css">
           <button class="btn crear"><a href="/clientes/crear">Crear cliente</a></button>

        </main>
    </div>
        <script src="/js/clientes.js"></script>

    </div>
</body>
</html>
