<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/styleindex.css" >
    <title> Clientes Crear</title>


</head>
<body>
 <div class="cprincipal">
        <nav class="sidebar">

            <h2>Panel principal</h2>
            <img href="" alt="Logo de empresa">
            <ul>
                <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/venta">Ventas</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/proveedores">Proveedores</a></li>
            </ul>
            

        </nav>


        
        <main class="contenido">
               <div class="el formulario">
            <h2>Pantalla de clientes</h2>

           <label for="nombre_cliente" >Nombre (s) del cliente</label>
            <input type="text" name="nombre_cliente" id="nombre_cliente" pattern="[A-Za-z\s]+" placeholder="Ej. Juan Orlando" required>

            <label for="apellido_paterno" >Apellido paterno</label>
            <input type="text" name="apellido_paterno" id="apellido_paterno"  placeholder="Ej. Lopez" required>

            <label for="apellido_materno" >Apellido materno</label>
            <input type="text" name="apellido_materno" id="apellido_materno" pattern="[A-Za-z\s]+" placeholder="Ej. Perez" required>
        
            <label for="telefono_cliente" >Telefono</label>
            <input type="number" name="telefono_cliente" id="telefono_cliente" pattern="[A-Za-z\s]+" placeholder="Ej. 8134114775" required>

            <label for="direccion_cliente" >Direccion del cliente</label>
            <input type="text" name="direccion_cliente" id="direccion_cliente" pattern="[A-Za-z\s]+" placeholder="Ej. Praderas de Higueras #815" required>
        
        

        </div>

        </main>

    </div>
</body>
</html>

