<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylelogin.css">
    <script src="/js/login.js"></script>
</head>
<body>
    <div id="logbox">
        <h1>Inicio de sesion:</h1>

    <form>
        <div class="cosoCuadro" id="userGuy">
        <p class="cabezon">Usuario:</p>
        <input id="usuario" type="text" required placeholder="...">
        </div>

        <div class="cosoCuadro" id="passwordGuy">
        <p class="cabezon">Contraseña:</p>
        <input id="contrasena" type="password" required placeholder="...">
        </div>

        <button id="btnLogin" type="submit" onclick="login()">Ingresar</button>
    </form>

        <div id="contenedorAlerta">
        <p id="mensaje" class="error"></p>
        </div>


    </div>
    
</body>
</html>