<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
   <link rel="stylesheet" href="/styleindex.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Pantalla Productos</title>
</head>
<body>
    <div class="cprincipal">
        <nav class="sidebar">

            <h2>Panel principal</h2>
            <img src="/logoempresa.png" alt="Logo de empresa">
            <ul>
                <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/venta">Ventas</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/proveedores">Proveedores</a></li>
            </ul>
            

        </nav>


        
        <main class="contenido">
            <div class="productos-container">

                <div class="header-productos">
                    <h2>Gestión de Productos</h2>

                    <div class="acciones-header">
                        <input type="text" id="buscador" placeholder="Buscar producto...">
                        <a href="/productos/crear" class="btn btn-crear">
                            Crear producto
                        </a>
                    </div>
                </div>

                <div class="tabla-contenedor">
                    <table id="tablaProductos">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

   
            <link rel="stylesheet" href="productos.css">


        </main>
    </div>
        <script src="/js/productos.js"></script>
</body>
</html>
