body {
    background-color: #f5f6fa;
    font-family: 'Inter', sans-serif !important;
}


.kpi {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.alert-card {
    background: #ff6b6b;
    color: white;
}

ul{
    margin: 0 !important;
    padding: 0 !important;
}

#topProductos{
    margin-left: 6px !important;
}
