
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1d2735;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 90vh;            /* full screen */
    margin: 0;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#logbox {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-size: xx-large;
    text-align: left;
    margin-left: 5px;
}

button {
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: lightgray;
    display: block;
    margin-left: auto;
    font-size: xx-large;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    transform: scale(0.95);
}

input {
    border-radius: 5px;
    padding: 5px;
    font-size: x-large;
    background-color: rgb(241, 241, 241);
    outline: none;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.cabezon {
    margin-left: 0;
}