.cprincipal {
    
    display:flex;
    
    height:100vh;
}

.sidebar {
    width: 250px;
    background-color: rgb(6, 2, 26);
    color:white;
    padding:20px;
    
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: antiquewhite;
}